<h1>Inicio de sesión</h1>
<form action="/auth/login" method="post">
  <input type="text" name="username" placeholder="Username">
  <input type="password" name="password" placeholder="Password">
  <button class="button" type="submit">Iniciar sesión</button>
</form>
{{> flash}}