{{> navbar}}
<main>
  <section class="login">
    <h1 class="login-title">Inicio de sesión</h1>
    <form class="login-form" action="/auth/login" method="post">
      <input class="login-input" type="text" name="username" placeholder="Usuario">
      <input class="login-input" type="password" name="password" placeholder="Contraseña">
      <button class="button" type="submit">Iniciar sesión</button>
    </form>
    {{> flash}}
  </section>
</main>