<h1>Sign up</h1>
<form action="/auth/signup" method="post">
  <input type="text" name="username" placeholder="Username">
  <input type="password" name="password" placeholder="Password">
  <input type="email" name="email" placeholder="Email">
  <p>Selecciona que tipo de usuario eres:</p>
  <input type="radio" name="userType" value="babysitter">Canguro
  <input type="radio" name="userType" value="parent">Padres
  <button type="submit">Sign up</button>
</form>
