<h1>Sign up</h1>
<form action="/auth/signup" method="post">
  <input type="text" name="username" placeholder="Username">
  <input type="password" name="password" placeholder="Password">
  <p>Selecciona que tipo de usuario eres:</p>
  <input type="radio" name="userType" value="babysitter">Canguro
  <input type="radio" name="userType" value="parent">Padres
  <input type="text"  name="latitude" class="input-latitude" />
  <input type="text"  name="longitude" class="input-longitude" />
  <input type="text"  name="location" class="input-location" />
  <button class="button" type="submit">Sign up</button>
</form>

{{> flash}}
<script src='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v3.1.4/mapbox-gl-geocoder.min.js'></script>
<script src="/javascripts/signup.js"></script>
