<header class="top-bar">
  <nav>
    <div class="menuToggle">
      <input class="checkbox" type="checkbox" />
      {{#if showBullet}}
      <div class="bullet"></div>
      {{/if}}
      <!-- Some spans to act as a hamburger -->
      <span></span>
      <span></span>
      <span></span>
      <ul class="menu">
        <li><a href="/">Inicio</a></li>
        {{#if currentUser}}
        {{#if showBullet}}
        <li class="message-unread">
          <a href="/profile/message">Mensajes</a>
          <div class="bullet bullet--message"></div>
        </li>
        {{else}}
        <li>
          <a href="/profile/message">Mensajes</a>
        </li>
        {{/if}}
        <li>
          <form action="/auth/logout" method="post">
            <button class="button-transparent" type="submit">Cerrar sesión</button>
          </form>
        </li>
        {{else}}
        <li><a href="/auth/signup">Registro</a></li>
        <li><a href="/auth/login">Iniciar sesión</a></li>
        {{/if}}
        <li class="js-button-dark-mode"><a href="/">Dark mode</a></li>
      </ul>
    </div>
  </nav>
  <div class="logo">
    <img src="/images/logo-white.png" alt="logo">
  </div>
  <div class="avatar">
    {{#if currentUser}}
    <a href="/profile/{{currentUser._id}}">
      <div class="avatar-img" style="background-image:url({{currentUser.imageUrl}})"></div>
    </a>
    {{/if}}
  </div>
</header>