{{> navbar}}
<main>
  <section>
    <ul class="cards">
      {{#each babySitterArray}}
        <li class="cards-item"> 
          <div class="cards-img">
            <img src="{{this.imageUrl}}" alt="">
          </div>
          <div class="cards-data">
            <p class="cards-data-name"><a href="/profile/{{this._id}}">{{this.username}}</a></p>
            <div class="cards-data-location">
              <img src="/images/pointer.svg" alt="">
              <p>Barcelona</p>
            </div>
          </div>
          <img class="cards-item-arrow" src="/images/arrow.svg" alt="" sizes="" srcset="">
        </li>
      {{/each}}
    </ul>
  </section>
</main>

<div id="map">

</div>

<div class="list-baby">
  <ul>

  </ul>
</div>
<script src='https://api.mapbox.com/mapbox-gl-js/v0.53.0/mapbox-gl.js'></script>
<link href='https://api.mapbox.com/mapbox-gl-js/v0.53.0/mapbox-gl.css' rel='stylesheet' />


<script src="/javascripts/map.js"></script>
