:root {
  --color-primary: #4FC3F7;
  --color-primary-hover: #80d3f9;
  --color-secundary: #673AB7;
  --white: #fff;
  --dark: #555;
  --gray: #f5f5f5;
  --light-gray: #dddddd;
  --color-border: #ccc;
  --color-delete: #F44336;
  --font-size-xs: 10px;
  --font-size-small: 14px;
  --font-size-normal: 16px;
  --font-size-medium: 20px;
  --font-size-large: 24px;
  --font-size-extra-large: 32px;
}

/* ---- reset ---- */

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  color: var(--dark);
  font-family: 'Nunito', sans-serif;
  font-size: 16px;
  line-height: 147%;
  margin: 0;
  padding: 0;
}

h1 {}

h2 {}

h3 {}

p {
  margin: 0;
}

ul, li {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  transition: color 0.3s ease;
  color: var(--dark);
}

a:hover {
  color: var(--color-primary-hover);
}

textarea, input {
  font-size: 1rem;
  border: 1px solid var(--light-gray);
  border-radius: 3px;
  padding: 0.75rem;
  width: 100%;
}

.container {
  margin: 0 20px;
}

section {
  padding: 1rem;
}

/* ---- components ---- */

.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  z-index: 1;
  transition: all 0.3s ease-in-out;
}

.top-bar {
  display: flex;
  flex-wrap: wrap;
  height: 70px;
  justify-content: space-between;
  flex-direction: row;
  background-color: var(--color-primary);
}

.logo, .avatar {
  align-self: center;
}

.logo {
  padding-left: 10px;
}

.logo img {
  height: 30px;
}

.avatar {
  padding-right: 20px;
}

.avatar-img {
  /* cambia estos dos valores para definir el tamaño de tu círculo */
  height: 45px;
  width: 45px;
  /* los siguientes valores son independientes del tamaño del círculo */
  background-repeat: no-repeat;
  background-position: 50%;
  border-radius: 50%;
  background-size: cover;
}

.button {
  display: inline-block;
  color: var(--white);
  background: var(--color-primary);
  padding: 0.75rem 3rem;
  letter-spacing: 2px;
  text-align: center;
  text-transform: uppercase;
  border: 1px solid transparent;
  border-radius: 25px;
  cursor: pointer;
  margin: var(--font-size-normal);
  font: 400 var(--font-size-normal);
  line-height: 1.5rem;
}

.button--delete {
  background: var(--color-delete);
}

.button--small {
  display: inline-block;
  color: var(--white);
  padding: 0.2rem 0.7rem;
  letter-spacing: 2px;
  text-align: center;
  text-transform: uppercase;
  border: 1px solid transparent;
  border-radius: 25px;
  cursor: pointer;
  margin: 0;
  font-size: var(--font-size-xs);
  line-height: 1.5rem;
}

.extra--vertical--margin {
  margin: 5px 0;
}

.bullet {
  position: absolute;
  width: 13px;
  height: 13px;
  top: -7px;
  right: -7px;
  border-radius: 50%;
  background-color: red;
  z-index: 2;
}

.message-unread {
  font-weight: 700;
}

.menuToggle {
  display: block;
  position: relative;
  top: 25px;
  left: 20px;
  z-index: 1;
}

.menuToggle input {
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  cursor: pointer;
  opacity: 0;
  /* hide this */
  z-index: 3;
  /* and place it over the hamburger */
}

/*
* Just a quick hamburger
*/

.menuToggle span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: var(--white);
  border-radius: 3px;
  z-index: 1;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0), opacity 0.55s ease;
}

.menuToggle span:first-child {
  transform-origin: 0% 0%;
}

.menuToggle span:nth-last-child(2) {
  transform-origin: 0% 100%;
}

/* Hide bullet when menu is open */

.menuToggle input:checked+.bullet {
  display: none;
}

/* 
* Transform all the slices of hamburger
* into a crossmark.
*/

.menuToggle input:checked~span {
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
}

/*
* But let's hide the middle one.
*/

.menuToggle input:checked~span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

/*
* Ohyeah and the last one should go the other direction
*/

.menuToggle input:checked~span:nth-last-child(2) {
  transform: rotate(-45deg) translate(0, -1px);
}

/*
* Make this absolute positioned
* at the top left of the screen
*/

.mapboxgl-popup {
  max-width: 200px;
}

.marker {
  background-image: url('/images/babyBottle.png');
  background-size: cover;
  width: 27px;
  height: 51px;
  cursor: pointer;
}

.popup {
  display: flex;
  flex-direction: row;
}

.popup-img {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.popup-img-avatar {
  align-items: center;
  height: 60px;
  width: 60px;
  background-repeat: no-repeat;
  background-position: 50%;
  border-radius: 50%;
  background-size: cover;
}

.popup-details {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  text-align: center;
  padding: 0 var(--font-size-medium);
}

.popup-details-name {
  font-size: var(--font-size-large);
  color: var(--dark);
  font-weight: 600;
}

.menu {
  position: fixed;
  width: 250px;
  top: 0;
  left: -250px;
  height: 100vh;
  padding: 50px;
  padding-top: 125px;
  background: var(--gray);
  box-shadow: 5px 5px 13px rgba(0, 0, 0, 0.2);
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  transition: all 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
}

.menu li {
  padding: 10px 0;
  font-size: 22px;
}

.menu a {
  color: var(--dark);
}

.menu button {
  padding: 10px 0;
  font-size: 22px;
  color: var(--dark);
}

/*
* And let's slide it in from the left
*/

.menuToggle input:checked~ul {
  transform: none;
  left: 0;
}

.cards {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.cards-title {
  font-size: 30px;
  color: var( --dark);
  font-weight: 600;
  margin-top: 12px;
  padding-bottom: 24px;
  text-align: center;
}

.cards-item {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  padding: var(--font-size-xs);
  /* border: 0.5px solid var(--color-primary); */
  margin: 10px 0;
  border-radius: 10px;
  box-shadow: 0 1px 6px rgba(32, 33, 36, 0.28)
}

.cards-item-arrow {
  position: absolute;
  right: 0;
  top: 39px;
  width: 30px;
  height: auto;
}

.cards-img {
  /* cambia estos dos valores para definir el tamaño de tu círculo */
  height: 80px;
  width: 80px;
  /* los siguientes valores son independientes del tamaño del círculo */
  background-repeat: no-repeat;
  background-position: 50%;
  border-radius: 50%;
  background-size: cover;
}

.avatar--large {
  height: 110px;
  width: 110px;
}

.cards-data {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding-left: 1rem;
}

.cards-data-name {
  font-size: var(--font-size-large);
  color: var(--dark);
  font-weight: 600;
}

input.cards-data-name {
  width: 100%;
}

.cards-data-location {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.cards-data-location-city {
  padding-left: 4px;
  margin: 4px 0;
}

.cards-data-location img {
  width: 15px;
  height: 16px;
}

/* Profile view */

.profile-details {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.profile-details-avatar {
  align-items: center;
  /* cambia estos dos valores para definir el tamaño de tu círculo */
  height: 120px;
  width: 120px;
  /* los siguientes valores son independientes del tamaño del círculo */
  background-repeat: no-repeat;
  background-position: 50%;
  border-radius: 50%;
  background-size: cover;
}

.profile-details-info {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding-left: var(--font-size-large);
  width: calc(100% - 120PX);
  align-self: center;
}

.profile-details-info-name {
  font-size: var(--font-size-extra-large);
  color: var(--dark);
  font-weight: 600;
}

.profile-details-location {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 12px 0;
}

.profile-details-location img {
  width: 23px;
  height: 20px;
}

.profile-details-location p {
  font-size: 20px;
  font-weight: 200;
}

.profile-details-rating p {
  font-size: var(--font-size-medium);
}

.profile-details-rating p span{
  font-weight: 700;
}

.profile-description {
  padding: var(--font-size-large) 0;
}

.profile-actions {
  display: flex;
  flex-direction: column;
}

.profile-actions a {
  display: block;
}

.profile-description textarea {
  height: 150px;
  width: calc(100vw - 2rem);
}

.map-container {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100vw;
  overflow: hidden;
  margin-bottom: -100vh;
  transition: margin 0.5s ease;
}

#map {
  height: 100vh;
  width: 100%;
}

.toggle-map {
  margin-bottom: -125px;
}

.arrow-container {
  position: relative;
  display: flex;
  justify-content: center;
  height: 30px;
  width: 100%;
  background-color: #f2f2f2;
  border-top: 1px solid #f3f3f3;
}

.arrow-slide-toogle {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.map-text {
  position: relative;
  z-index: 1;
  font-weight: 600;
  margin-top: 3px;
}

.arrow-bg {
  position: absolute;
  top: -24px;
  background-color: #f2f2f2;
  border-radius: 50%;
  width: 48px;
  height: 48px;
}

.arrow-img {
  display: block;
  width: 22px;
  height: auto;
  margin: 4px auto 0;
  transform: rotate(270deg);
}

.arrow-img--rotate {
  transform: rotate(90deg);
}